body {
  background-color: #333333;
}

.App {
  text-align: center;
  background-color: #ffffff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search-box {
  width: 80vw;
  margin: 20px;
  display: inline-block;
  padding: 0 20px 15px 20px;
}

.article-list {
  display: 'inline-block';
  width: 80vw;
  margin: 20px auto;
}

.article-card {
  position: relative;
  height: 80px
}

.article-header {
  text-align: left;
  padding-right: 15px;
}

.article-title {
  color: rgba(0,0,0, 0.87);
  font-size: 15px;
  text-decoration: none;
}

.article-subtitle {
  color: rgba(0,0,0, 0.54);
  margin-top: 10px;
  display: block;
  font-size: 14px;
  text-decoration: none;
}

.article-actions {
  right: 15px;
  bottom: 0;
}

.comment-btn,
.save-btn {
  top: 2px;
}

.comment-box {
  position: relative;
}

.comment-controls {
  position: absolute;
  top: 0;
  right: 0;
}

.footer {
  margin-top: 20px;
  background: #333333;
  color: #ffffff;
  padding: 25px 0 25px 10vw;
}

.footer h4, .footer h2, .footer a {
  font-weight: 400;
  text-align: left;   
}

.footer a {
  display: inherit;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 640px) {
  .search-box {
    width: 95vw;
    margin: 10px 0;
    padding: 0 20px 15px 20px;
  }

  .article-list {
    width: 95vw;
    margin: 10px auto;
  }

  .article-header {
    padding-top: 5px !important;
  }

  .article-header div {
    padding-right: 0 !important;
  }

  .article-title {
    font-size: 12px;
  }

  .article-actions {
    right: 0;
    padding-bottom: 0 !important;
    padding-right:  0 !important;
  }

  .article-actions a,
  .article-actions button {
    min-width: 50px !important;
    margin-left: 5px !important;
    margin-right: 0 !important;
  }

  .article-actions a div span,
  .article-actions button div span
  .article-actions button span {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 12px !important;
  }

  .article-subtitle {
    bottom: 0;
    font-size: 12px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
