body {
  background-color: #333333;
}

.App {
  text-align: center;
  background-color: #ffffff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.footer {
  margin-top: 20px;
  background: #333333;
  color: #ffffff;
  padding: 25px 0 25px 10vw;
}

.footer h4, .footer h2, .footer a {
  font-weight: 400;
  text-align: left;   
}

.footer a {
  display: inherit;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
